<h1>
  Chessboard
</h1>
<div id="chessboard">
  <!-- 1st -->
  <div class="white" data-position="a8">
    <img class="bR1" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/bR.png" />
  </div>
  <div class="black" data-position="b8">
    <img class="bN2" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/bN.png" />
  </div>
  <div class="white" data-position="c8">
    <img class="bB3" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/bB.png" />
  </div>
  <div class="black" data-position="d8">
    <img class="bQ" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/bQ.png" />
  </div>
  <div class="white" data-position="e8">
    <img class="bK" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/bK.png" />
  </div>
  <div class="black" data-position="f8">
    <img class="bB4" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/bB.png" />
  </div>
  <div class="white" data-position="g8">
    <img class="bN5" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/bN.png" />
  </div>
  <div class="black" data-position="h8">
    <img class="bR6" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/bR.png" />
  </div>
  <!-- 2nd -->
  <div class="black" data-position="a7">
    <img class="bP1" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/bP.png" />
  </div>
  <div class="white" data-position="b7">
    <img class="bP2" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/bP.png" />
  </div>
  <div class="black" data-position="c7">
    <img class="bP3" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/bP.png" />
  </div>
  <div class="white" data-position="d7">
    <img class="bP4" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/bP.png" />
  </div>
  <div class="black" data-position="e7">
    <img class="bP5" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/bP.png" />
  </div>
  <div class="white" data-position="f7">
    <img class="bP6" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/bP.png" />
  </div>
  <div class="black" data-position="g7">
    <img class="bP7" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/bP.png" />
  </div>
  <div class="white" data-position="h7">
    <img class="bP8" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/bP.png" />
  </div>

  <!-- 3th -->
  <div class="white" data-position="a6"></div>
  <div class="black" data-position="b6"></div>
  <div class="white" data-position="c6"></div>
  <div class="black" data-position="d6"></div>
  <div class="white" data-position="e6"></div>
  <div class="black" data-position="f6"></div>
  <div class="white" data-position="g6"></div>
  <div class="black" data-position="h6"></div>
  <!-- 4st -->
  <div class="black" data-position="a5"></div>
  <div class="white" data-position="b5"></div>
  <div class="black" data-position="c5"></div>
  <div class="white" data-position="d5"></div>
  <div class="black" data-position="e5"></div>
  <div class="white" data-position="f5"></div>
  <div class="black" data-position="g5"></div>
  <div class="white" data-position="h5"></div>
  <!-- 5th -->
  <div class="white" data-position="a4"></div>
  <div class="black" data-position="b4"></div>
  <div class="white" data-position="c4"></div>
  <div class="black" data-position="d4"></div>
  <div class="white" data-position="e4"></div>
  <div class="black" data-position="f4"></div>
  <div class="white" data-position="g4"></div>
  <div class="black" data-position="h4"></div>
  <!-- 6st -->
  <div class="black" data-position="a3"></div>
  <div class="white" data-position="b3"></div>
  <div class="black" data-position="c3"></div>
  <div class="white" data-position="d3"></div>
  <div class="black" data-position="e3"></div>
  <div class="white" data-position="f3"></div>
  <div class="black" data-position="g3"></div>
  <div class="white" data-position="h3"></div>
  <!-- 7th -->
  <div class="white" data-position="a2">
    <img class="wP1" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/wP.png" />
  </div>
  <div class="black" data-position="b2">
    <img class="wP2" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/wP.png" />
  </div>
  <div class="white" data-position="c2">
    <img class="wP3" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/wP.png" />
  </div>
  <div class="black" data-position="d2">
    <img class="wP4" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/wP.png" />
  </div>
  <div class="white" data-position="e2">
    <img class="wP5" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/wP.png" />
  </div>
  <div class="black" data-position="f2">
    <img class="wP6" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/wP.png" />
  </div>
  <div class="white" data-position="g2">
    <img class="wP7" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/wP.png" />
  </div>
  <div class="black" data-position="h2">
    <img class="wP8" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/wP.png" />
  </div>

  <!-- 8th -->
  <div class="black" data-position="a1">
    <img class="wR1" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/wR.png" />
  </div>
  <div class="white" data-position="b1">
    <img class="wN2" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/wN.png" />
  </div>
  <div class="black" data-position="c1">
    <img class="wB3" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/wB.png" />
  </div>
  <div class="white" data-position="d1">
    <img class="wQ" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/wQ.png" />
  </div>
  <div class="black" data-position="e1">
    <img class="wK" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/wK.png" />
  </div>
  <div class="white" data-position="f1">
    <img class="wB4" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/wB.png" />
  </div>
  <div class="black" data-position="g1">
    <img class="wN5" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/wN.png" />
  </div>
  <div class="white" data-position="h1">
    <img class="wN6" src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/chessPices/wR.png" />
  </div>
</div>


<router-outlet></router-outlet>
