<!-- <table class="table">
  <thead>
    <th>Product....</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Code</th>


    <th>&nbsp;</th>
  </thead>
  <tbody>
    <tr *ngFor="let product of invoice">
      <td>{{ product.name }}</td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.code }}</td>

      <td><a class="btn btn-primary" [routerLink]="['/shop', 'edit-product', product.code]">Edit</a></td>
      <td></td>
    </tr>
  </tbody>
</table> -->
