<h1>Calculator</h1>

<div id='calc-contain'>
  <input type="text" [(ngModel)]="display" name="answer" />
  <br>

  <input type="button" value="1" (click)="setValue(1)" />
  <input type="button" value=" 2 " (click)="setValue(2)" />
  <input type="button" value=" 3 " (click)="setValue(3)" />
  <input id="color" type="button" value=" + " (click)="setCalculation('+')" />

  <input type="button" value=" 4 " (click)="setValue(4)" />
  <input type="button" value=" 5 " (click)="setValue(5)" />
  <input type="button" value=" 6 " (click)="setValue(6)" />
  <input id="color" type="button" value="-" (click)="setCalculation('-')" />


  <input type="button" value=" 7 " (click)="setValue(7)" />
  <input type="button" value=" 8 " (click)="setValue(8)" />
  <input type="button" value=" 9 " (click)="setValue(9)" />
  <input id="color" type="button" value=" x " (click)="setCalculation('*')" />


  <input id="color" type="button" value=" c " (click)="this.display = ''" />
  <input type="button" value="0" (click)="setValue(0)" />
  <input id="color" type="button" value=" = " (click)="calculate()" />
  <input id="color" type="button" value=" / " (click)="setCalculation('/')" />

  <input type="button" value="." (click)="setFloat()" />

  <input id="color" type="button" value="AC" (click)="this.display = ''" />



  <!-- <form name="calculator"> -->

  <!-- <input type="text" id=text placeholder="enter a number"><br>
  <input type="text" id=text1><br>

    <button (click)="add()">+</button>
    <button (click)="minus()">-</button>
    <button (click)="multiply()" value="add()">*</button>
    <input id="color" type="button" value=" / " (click)="('/')" />
    <button (click)="devide()">/</button>

    <button type="button" value="0">0</button>
    <button type="button" value="1">1</button>
    <button type="button" value="2">2</button>
    <button type="button" value="3">3</button>
    <button type="button" value="4">4</button>
    <button type="button" value="5">5</button>
    <button type="button" value="6">6</button>
    <button type="button" value="7">7</button>
    <button type="button" value="8">8</button>
    <button type="button" value="9">9</button>

    <button type="button" class="decimal" value=".">.</button>
    <button type="button" class="all-clear" value="all-clear">AC</button>

    <button type="button" class="equal-sign" value="=">=</button>


  </div> -->
