p{
    padding: 10px;
    text-align: center;
        background-color: rgb(198, 220, 223);
    
    }
    
    p{
        font-size:1.5em;
    }
    ul{
        padding: 10px;
        text-align: center;
           
        
        }