<div class="container">
  <div class="row">
    <div class="col">
      <h1>Task Manager</h1>
      <ul class="list-group">
        <li *ngFor="let task of tasks; let i=index"
          class="list-group-item d-flex justify-content-between align-items-center">
          <span>{{ task.name }}</span>

          <div class="progress">
            <div class="progress-bar" [ngStyle]="applyColor(task.progress)" role="progressbar"
              [style.width]="task.progress+'%'" attr.aria-valuenow="{{task.progress}}" aria-valuemin="0"
              aria-valuemax="50">{{task.progress}}%</div>
            <span class="badge badge-secondary"></span>
          </div>{{task.description}}
          <input type="number" (input)="changeProgress(i, $event.target.value)" class="change-progress"
            [value]="task.progress">under progress<button class="btn btn-danger " (click)="delete(task)">Delete
            Task</button>

        </li>
      </ul>

    </div>
    <div class="col-8">
      <app-task-form (addTask)="addTaskToList($event)"></app-task-form>
    </div>
  </div>
