<div class="container">
  <div class="inner-container">
    <h1>Raslan Designs</h1>

    <div class="backtext">
      <h2 class="border-text">Top Designes</h2>
      <h3 class="border-text">High Profits</h3>
    </div>

    <div class="body-wrap">
      <div class="side-images"> <img
          src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/p2.jpg" alt="" />
        <img src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/p1.jpg" alt="" />

        <img src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/p3.jpg" alt="" />
        <img src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/p4.jpg" alt="" />
        <img src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/p5.jpg" alt="" />
        <img src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/p6.jpg" alt="" />
        <img src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/p7.jpg" alt="" />
        <img src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/p8.jpg" alt="" />

      </div>

      <div class="body">
        <div class="menu">
          <ul>
            <li class="active">
            <li>Website Designs</li>
            <li>Landscape Designes</li>
            <li>Irrigation Network Designs</li>
            <li>Technical Supervision</li>
            <li>Control Services
          </ul>
        </div>
        <h4>It's time to create your own dream design!</h4>
        <h4>Let us make your own design</h4>
        <p>
          We are Raslan designers for landscape designing,Irrigation network designing and Web sites designing.

          <p>We arrang all facilities to our clients like:

            technical supervision,maintenance,nurseries&Greenhouses management
          </p>


          <p>
            We help providing the needed suppliers and agriculture landscape contractors including all the
            facilities like plants, agricultural materials, operational& maintenance,...etc.

            Contact Us

          </p>
          <p class="promotion-text">
            Like what you see?<br />Don't hesitate and order now!

          </p>
          <a href="https://badiraslan.wixsite.com/raslan">Landscape Website link</a>

          <div class="promotion-images">

            <img src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/p9.jpg" alt="" />
            <p>World Landscape</p>
            <img src="https://raw.githubusercontent.com/badisalim/AngularProjects/master/src/assets/p10.jpg" alt="" />
            <p>World Landscape</p>

            <iframe width="650" height="150" src="https://www.youtube.com/embed/L1_LJJJ026M" frameborder="0">
            </iframe>
            <p>World Landscape</p>

          </div>

          <iframe width="650" height="150" src="https://www.youtube.com/embed/uRl3K-iuW1M" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
          </iframe>
          <p>World Landscape</p>
          <iframe width="650" height="150" src="https://www.youtube.com/embed/kn39knElRrY" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
          </iframe>

          <!-- <video id="video1" width="650" height="150" controls="controls">
            <source src="https://www.youtube.com/watch?v=kn39knElRrY&t=10s" type="video/mp4">
          </video> -->
          <div class="promotion-container">
            <form class="form" action="/src/app/webdesign/password.html">
              <p>Order Now!</p>
              <input type="text" placeholder="first name" />
              <input type="text" placeholder="last name" />
              <input type="text" placeholder="email" />
              <input type="text" placeholder="password" />
              <input type="text" placeholder="street" />
              <div>
                <input type="text" placeholder="zip" />
                <input type="text" placeholder="city" />
              </div>
              <select placeholder="select your country">
                <option value="">Austria</option>
                <option value="">Germany</option>
                <option value="">Switzerland</option>
              </select>

              <div><input type="checkbox" /> Send me a newsletter</div>

              <button type="submit" value="Order">Order</button>
            </form>
          </div>
          <div class="bottom-images2"><img src="/assets/fatbit.jpg" width="200" height="200" alt="" />
          </div>
      </div>
