<h1>Welcome To Raslan Angular Projects</h1>
<p>
  From here on, you can navigate to the individual application of each program.
</p>
<ul>

  <!-- <li><a routerLink="/participant">to the Participant--</a></li> -->
  <li><a routerLink="/webdesign">Badi WebDesign</a>
</ul>
<div class="container">
<li><a routerLink="/projects">Projects</a> </li>

<li><a routerLink="/chess">Chess</a> </li>
<li><a routerLink="/heroes">Heroes</a></li>
<li><a routerLink="/email">Email</a></li>
<li><a routerLink="/task">Task</a></li>
<li><a routerLink="/calculator">Calculator</a></li>
<li><a routerLink="/calculator2">Calculator2</a></li>
<li><a routerLink="/sudoku">Sudoku</a></li>
<li><a routerLink="/password">Password</a></li>
<li><a routerLink="/bird">Birds</a> </li>
<li><a routerLink="/basket">Basket1</a></li>
<li><a routerLink="/basket2">Basket2</a></li>
<li><a routerLink="/basket3">Basket3</a></li>
<li><a routerLink="/basket4">Basket4</a></li>
<li><a routerLink="/shoppingCart">ShoppingCart</a></li>
</div>
<router-outlet></router-outlet>
