div#myform {
  text-align: center;
  border: 1px solid #ccc;
  width: 300px;
  height: 550px;
  padding: 0px 50px 15px;
  margin-top: 20px;
  margin-left: 20px;
  box-shadow: 0 0 50px #00cd00;
  border-radius: 10px;
  float: left;
}

h2 {
  margin-top: 20px
}

hr {
  margin-top: -10px;
  background-color: #e55ea2;
  height: 8px;
  border: 0;
}

label {
  float: left;
  font-size: 20px;
  color: #993f6c;
  font-weight: bold;
}

input {
  margin-bottom: 50px;

}

input[type="text"] {

  width: 100%;

  height: 35px;
  margin-bottom: 25px;
  padding: 10px;
  border: 2px solid #e55ea2;
}

textarea {
  width: 100%;
  border: 2px solid #e55ea2;
  padding: 10px;
  margin-bottom: 25px;
  margin-top: 10px;
  height: 100px;
  resize: none;
}

input[type="submit"] {
  width: 100%;
  padding: 10px 45px;
  background-color: #e55ea2;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
