<div id="main">
  <script>
    // let a = "Badi"
    // let b = 3500
    // let c = true
    // document.write(a + b + c)

  </script>
  <div id="myform">
    <form action="" method="post">
      <h2>Contact Form </h2>
      <hr><br><label>Name : </label><input type="text" name="dname"><label>Email : </label><input type="text"
        name="demail"><label>Message : </label><textarea name="dmessage"></textarea><input type="submit" name="dsubmit"
        value="Submit">
    </form>
  </div>
</div>
