.ftxt {
    font-size: 40px;
    color: green;
    font-weight: bold;
    text-align: center;
}

.ftitle {
    font-size: 17px;
    text-align: center;
    margin-bottom: 20px;
}
table{

    margin-left:300px;
}
.container{

    margin-left: 500px;
    margin-top: 30px;
}
