<p>
  {{ passwordMessage }}
</p>
<div class="ftxt">Raslan Designers</div>
<div class="ftitle">Web Site Developpers</div>
<form ngSubmit="return checkPassword(this)" action="/js-html-css/WebDesign2/index.html">
  <table border=1 align="center">
    <tr>
      <!-- Enter Username -->
      <td>Username:</td>
      <td><input type=text name=name size=25 /></td>
    </tr>
    <tr>
      <!-- Enter Password. -->
      <td>Password:</td>
      <td><input type=password name=password1 size=25 /></td>
    </tr>
    <tr>
      <!-- To Confirm Password. -->
      <td>Confirm Password:</td>
      <td><input type=password name=password2 size=25></td>
    </tr>
    <tr>
      <td colspan=2 align=right>
        <input type=submit value="Submit"></td>
    </tr>
    <tr>


      <p>
        {{ passwordMessage }}
      </p>
      <div class="container1"></div>
      <div class="ftxt">Raslan Designers</div>
      <div class="ftitle">Web Site Developpers</div>
    <tr ngSubmit="return checkPassword(this)" action="/js-html-css/WebDesign2/index.html">
    <tr border=1 align="center">
    <tr>

      <!-- Enter Username -->
      <td>Username:</td>
      <td><input type="text" name="name" size="25" /></td>
    </tr>
    <tr>

      <!-- Enter Password. -->
      <td>Password:</td>
      <td>
        <input type="password" formControlName="password1" name="password1" size="25" />
      </td>
    </tr>
    <tr>
      <!-- To Confirm Password. -->
      <td>Confirm Password:</td>
      <td>
        <input type="password" formControlName="password2" name="password2" size="25" />
      </td>
    </tr>
    <tr>
      <td colspan="2" align="right">
        <input type="submit" value="Submit" />
      </td>
    </tr>
  </table>
</form>



<form
  [formGroup]="form"
  id="loginForm"
  (ngSubmit)="verification()"
  #userForm="ngForm"
>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <p><input type="email" formControlName="email" id="email" placeholder="Your email" [(ngModel)]="user.email"
            required></p>
        <p>
          <input
            type="email"
            formControlName="email"
            id="email"
            placeholder="Your email"
            required
          />
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <p><input type="password" formControlName="password" id="password" placeholder="Your password"
            [(ngModel)]="user.password" required></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <p><button class="btn btn-primary" type="submit" [disabled]="!bookForm.form.valid">Login</button> </p>
      </div>
    </div>
  </div>



<form
  [formGroup]="form"
  id="loginForm"
  (ngSubmit)="verification()"
  #userForm="ngForm"
>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <p>
          <input
            type="email"
            formControlName="email"
            id="email"
            placeholder="Your email"
            required
          />
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <p>
          <input
            type="password"
            formControlName="password1"
            id="password"
            placeholder="Your password"
            required
          />
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <p>
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!bookForm.form.valid"
          >
            Login
          </button>
        </p>
      </div>
    </div>
  </div>
</form>

<div *ngIf="edited" class="alert alert-success box-msg" role="alert">
  <strong>Successful Login!</strong>
</div>
