<p>
  calculator2 works!
</p>
<div class="text-center">
  <h3>Simple Calculator Using Angular</h3>
</div>
<div class="container">
  <div class="card">
    <div class="card-header text-center text-uppercase"> Calculator</div>
    <div class="card-body">
      <div class="form-group d-flex flex-row">
        <input [(ngModel)]='num1' type="number" name="num1" class="form-control">
        <input [(ngModel)]='num2' type="number" name="num2" class="form-control">
        <input [(ngModel)]='name' type="string" name="name" class="form-control">
      </div>
      <div class="d-flex flex-row justify-content-between">
        <button class="btn btn-success" (click)="add()">Sum</button>
        <button class="btn btn-primary" (click)="minus()">Minus</button>
        <button class="btn btn-danger" (click)="multiply()">Multiply</button>
        <button class="btn btn-warning" (click)="devide()">Devide</button>
        <button class="btn btn-warning" (click)="name()">Name</button>
      </div>
    </div>
    <div class="card-footer">

      <p>The sum of {{num1}} and {{num2}} = {{result}}{{" $ "}}{{name}}</p>
    </div>
